%josefin700 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
}
%josefin400 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
}
%josefin300 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
}
%aleo400 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
}
